.cart-button {
    border-radius: 3px;
    background: #1a1a1a;
    color: #FFF;
    padding: 20px;
    border: none;
    cursor: pointer;
    text-align: start;
    display: block;
    width: 100%;
}
.cart-button:hover{
    background: rgba(255, 255, 255, 0.10);
}